*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url('/imagem/imagem-steve-2.jpg');
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover; 
    overflow-x: hidden;    
}

header{
    background-color: green;
}    
header h1{
    text-align: center;
    font-size: 1.6em;
    padding: 10px;
    color:#fff;
    height: 40px;
}
#foto{
    display: flex;
    justify-content: center;
    align-items: center;   
}
img{
    width: 300px;
    border-radius: 5px;   
}
#burguer{
    display: block;
    background-color: black;
    color: #fff;
    padding: 5px;
    text-align: center;
    cursor: pointer;

}
#burguer:hover{
    background-color: #fff;
    color: black;
}
main h2{
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
    padding: 10px;
    background-image: linear-gradient(to right,rgb(120, 152, 3),transparent);
}
h3{
    
    color: white;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
menu {
    display: none;      
}
menu ul{
    list-style-type: none;
}
menu li{
    text-decoration: none;
    
}
menu > ul > li > a{
    display: block;
    background-color: rgb(8, 40, 21);
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    border-top: 1px solid #fff;
    transition: 1s;
    
}
menu a:hover{
    background-color: rgb(4, 180, 71);
}
main{
    width: 60vw;
    height: 100vh;
    background-color: #d0cbcbbf;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    margin-top: 5px;
    background-color: rgb(0,0,0,0.9);
}
main p{
    text-align: justify;
    margin-bottom: 20px;
    font-weight: 700px;
    color:#fff; 
    line-height: 20px;
    margin-left: 10px; 
    line-height: 25px;  
}
main a{
    text-decoration: none;
    color: rgb(14, 233, 79);
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.9);
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
}
#area2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#area3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
#area3 p{
    font-size: 1em;
    text-align:start;
}
#foto-3{
    width: 150px;
    
}
 
section p{
    padding: 10px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
section a{
    color: rgb(14, 233, 79);
    text-decoration: none;
}


footer{
    display: block;
    color: #fff;
    padding: 10px;
    background-color: rgba(27, 26, 26, 0.682);
    text-align: center;
    margin-top: 6px;
}

@media (max-width:420px) {
    body{
        overflow-x: hidden;
    }
    main p{
       font-size: 0.6em; 
    }
    img{
        width: 170px;
    }
    h2{
        font-size: 0.6em;
    }
    footer {
        font-size: 0.5em;
    } 
    #area3{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }  
    
}
@media (min-width:256px) and (max-width:420px){
    body{
        overflow-x: hidden;
    }
    header h1{
        font-size: 0.9em;
    
    }
    main h2{
        font-size: 0.6em;
    }
    h3{
        font-size: 0.5em;
    }
    main p{
        font-size: 0.5em;
        margin-top: 5px;
        line-height: 10px;
    }
    main ,section,#area2{
        width: 250px;
        padding: 5px;
    }
    main img{
        width: 200px;
        line-height: 15px;
        margin-top: 30px;
    }
    section, p{
        font-size: 0.8em;
    }
    #foto-3  {
        width: 50px;
        color: green;
    }
    #area3 p{
       font-size: 0.8em; 
    }
    
    

    }
    
    
   
    










